
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body {font-size:12px; font-family: 'NanumSquare', sans-serif; font-weight: 400; }
body, html {background:#fff; height:100%;}
#wrapper { position: relative;margin: 0;padding-bottom: 246px;min-height: 100%; }	
select {font-family: 'NanumSquare', sans-serif;}
input {font-family: 'NanumSquare', sans-serif; color:#000; font-size:12px; outline-width:0;}
textarea {font-family: 'NanumSquare', sans-serif; color:#000; font-size:12px; outline-width:0;}
.displayNone {display: none;}
.inner {width: 1300px;margin: 0px auto; box-sizing: border-box; }
.inner:after {display: block;visibility: hidden;height: 0;font-size: 0; clear: both;content: '';}
.p-vertical-5 {padding-top: 5px; padding-bottom: 5px;}
.p-vertical-10 {padding-top: 10px; padding-bottom: 10px;}
.p-horizontal-5 {padding-left: 5px; padding-right: 5px;}
.p-horizontal-10 {padding-left: 10px; padding-right: 10px;}
.p-horizontal-15 {padding-left: 15px; padding-right: 15px;}
.p-horizontal-20 {padding-left: 20px; padding-right: 20px;}
.pc-hidden { display: none !important; }

@media screen and (max-width:999px) {
	.inner {width: 100%; padding: 0px 10px;}
	#wrapper {
	    padding-bottom: 78px !important;  
	}
	#wrapper.no-fix-menu {
	    padding-bottom: 0px !important;  
	}
	.mobile-hidden {
		display: none !important; 
	}
	.m100 {
		width: 100% !important; 
	}
	.pc-hidden { display: block !important; }
}


.loadingBackgroundCover {
	background: rgba(255,255,255,0.5);
	position: fixed; width: 100%; height: 100%; 
	z-index: 1000; 

}
.loadingBackgroundCover .centerItem {
	position: absolute; top: 0; bottom: 0; 
	left: 0; right: 0; width: 32px; 
	height: 32px; margin: auto;
}



/******************************************************************* �뿤�뜑 �떆�옉 */
.header {
	position: fixed;
	width: 100%;
	min-height: 92px;
	z-index: 10;  
	padding: 25px 0px;
	box-sizing: border-box;   
	transform-style: preserve-3d; 
	transition: 0.3s;
}    
.header > .in {
	position: relative;
	padding: 0px 50px;
}
.header .m-title {
	font-size: 24px;
	line-height: 1.4; 
	letter-spacing: -1px;
}
.header .logo-area { 
	position: absolute;
	left: 0; right: 0;
	margin: auto;   
	width: 140px;    
	text-align: center; 
	z-idex: 11;   
	top: 0px; 
}  
.header .logo-red {display: none;}
.header .logo-white {display: inline-block;}
.header .logo-scroll {display: none;}

.header.type2 .logo-red {display: inline-block;}
.header.type2 .logo-white {display: none;}
.header.ver2 .logo-red {display: inline-block;}
.header.ver2 .logo-white {display: none;}

.header .logo-area.scrolled .logo-top {display: none;}
.header .logo-area.scrolled .logo-scroll {display: inline-block;}


.header .top-links {
	display: block;
	float: left;
}
.header .top-links li {
	display: inline-block;
	margin: 0px 15px;
}  
.header .top-links li a {
	color: #fff; 
	font-size: 14px;
	line-height: 42px;
}
.header .top-links.right {
	float: right;  
}
.header.ver2,
.header.type2 {
	background: #fff; 
	-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2); 
	-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2); 
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2); 
}
.header.ver2 .top-links li a,
.header.type2 .top-links li a {
	color: #000; 
}
@media screen and (max-width:999px) {
	.header {
		height: 50px;
		box-sizing: border-box;   
		min-height: auto;   
		max-height: 50px;
		padding: 10px 0px;
		background: #fff;  
	}    
	.header > .in {
		padding: 0px 20px;
	}
	.header .top-links {  
		display: none;
	}
	.header .logo-area { 
		width: 200px;    
	} 
	.header .logo-area img {
		width: 100px;  
		max-width: 100%;   
	}
	.header .logo-scroll img {
		width: 30px;  
		max-width: 100%;   
	}
	.header .logo-red {display: inline-block;}
	.header .logo-white {display: none;}  
}
/******************************************************************* �뿤�뜑 �걹 */
/******************************************************************* �뭼�꽣 �떆�옉 */
.footer {
	background: #343434; 
	text-align: center; 
	height: 264px;
	color: #c2c2c2; 
	box-sizing: border-box;
	width: 100%; 
	position:absolute;
    bottom:0;   
    overflow: hidden;
    height: 355px ;
}
.footer .corps {
	background: #fff; padding: 25px; border-top: 1px solid #E7E8EF;
}
.footer .corps > img {
	margin: 0px 20px; height: 40px;
}
.footer .inner {
	position: relative;
	padding: 60px 0px 0px 0px;
}
.footer .scrollTop {
	position: fixed;
/* 	right: -60px; */
/* 	top: -60px; */
	bottom: 60px;
    right: 60px;
}

@media screen and (max-width:1550px) {
	.footer .scrollTop {
		position: absolute;
		right: 0px;
		top: 30px;
	}
}

.footer .footer-links-group {
	text-align: center; 
	margin-bottom: 5px;
}
.footer .footer-links-group .link {
	color: #c2c2c2; 
	font-size: 18px; 
	display: inline-block;
	margin: 0px 15px;
	letter-spacing: -1px;            
}
.footer .footer-links-group.terms .link {
	font-size: 16px;  
}
.footer .desc {
	font-size: 14px;
	color: #717171; 
	line-height: 2.0; 
}
@media screen and (max-width:999px) { 
	.footer {
		background: #343434; 
		text-align: center; 
		height: auto; 
		color: #c2c2c2; 
		box-sizing: border-box;
		width: 100%; 
		position: static;
	}
	.footer .inner {
		position: relative;
		box-sizing: border-box;  
		padding: 30px 15px 30px 15px;
	}
	.footer .scrollTop {
		display: none; 
	}
	.footer .footer-links-group .link {
		color: #c2c2c2; 
		font-size: 13px; 
		display: inline-block;
		margin: 0px 5px;
		letter-spacing: -1px;            
	}
	.footer .footer-links-group.terms .link {
		font-size: 13px;  
	}
	.footer .desc {
		font-size: 12px;
	}
}
/******************************************************************* �뭼�꽣 �걹 */
/******************************************************************* 而⑦뀗痢좎쁺�뿭 �떆�옉 */
.container.push-top {
	padding-top: 92px;
}  
.container_inner {
	position: relative;
}
@media screen and (max-width:999px) { 
	.container.push-top {
		padding-top: 50px;
	}
}

.add-layer .banner-wrapper {
	background-size: auto 100%;
	background-repeat: repeat-x;
	background-position: center center;
	text-align: center;
	box-sizing: border-box;
	background-image: url('../img/bn-add.png'); 
	background-size: 100% auto;
	height: 1097px; height: 1000px;
}
.add-layer .banner-wrapper .in {
	background-color: rgba(0,0,0,0.5);  
	height: 100%;
	position: relative;
}
.add-layer .banner-wrapper img.ment {
	margin-top: 200px;
}
.add-layer .centerbox {
	width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.add-layer .down-btn {
	position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

.add-layer .banner-wrapper .bn-ment {
	padding-top: 150px;
	display: inline-block; color: #fff; font-size: 50px; font-weight: 100;
}
.add-layer .banner-wrapper .bn-ment2 {
	text-align: center;color: #fff; font-size: 18px;font-weight: 100;margin-top: 15px;
}
.add-layer .banner-wrapper .bn-btn-wrap {
	margin-top: 130px;
}
.add-layer .banner-wrapper .bn-btn-wrap > a {
	width: 250px;
}

@media screen and (max-width:999px) {
	
	.add-layer .banner-wrapper {
		/* background-size: auto 100%;
		background-repeat: repeat-x;
		background-position: center center;
		text-align: center;
		box-sizing: border-box;
		background-image: url('../img/bn-add.png');  */
		height: 550px;  
	}
	.add-layer .centerbox {
		padding: 0px 15px;
		box-sizing: border-box;
	}
	.add-layer .banner-wrapper .bn-ment {
		padding-top: 20px;
		display: inline-block; color: #fff; font-size: 28px; font-weight: 100;
	}
	.add-layer .banner-wrapper .bn-ment2 {
		text-align: center;color: #fff; font-size: 14px; font-weight: 100 ;margin-top: 15px;
	}
	.add-layer .banner-wrapper .bn-btn-wrap {
		margin-top: 30px;  
	}
	.add-layer .banner-wrapper .bn-btn-wrap > a {
		width: 200px;  
	}
	.add-layer img {
		max-width: 100%; 
	}
	.add-layer .down-btn img {
		width: 28px; 
	}
}


.comm-btn-style {
	font-size: 18px;
	height: 55px;
	line-height: 55px;
	font-weight: bold;  
	display: inline-block;
	position: relative;
/* 	letter-spacing: -2px;   */
	padding: 0px 3px;  
	color: #000;    
	
	box-sizing: border-box;
	width: 182px;
	text-align: center;
	vertical-align: middle;
	
	border-radius: 5px;     
	
	background: #fff; 
	-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2); 
	-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2); 
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);  
}
.comm-btn-style.red {
	background: #f63c48;    
	color: #fff;   
}
.comm-btn-style.black {
	background: #000;    
	color: #fff;   
}

.radio-style:checked,
.radio-style:not(:checked) {
    position: absolute; 
    left: -9999px;
}
.radio-style:checked + label,
.radio-style:not(:checked) + label
{
    position: relative;
    padding-left: 34px; 
    cursor: pointer;
    line-height: 28px;       
    display: inline-block;
    color: #333;  
    font-size: 18px;   
}  
.radio-style:checked + label:before,
.radio-style:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;  
    border: 1px solid #f63240; 
    border-radius: 100%;
    background: #f63240;
    box-sizing: border-box;   
}
.radio-style:not(:checked) + label:before {
	border: 2px solid #ccc;  
    background: transparent;
}
.radio-style:checked + label:after,
.radio-style:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;   
    background-image: url('../img/ico-radio-check.png');
    background-repeat: no-repeat;
    background-position: center center;
   
    position: absolute;
    top: 4px;
    left: 4px;   
/* 	border-radius: 100%; */
/* 	-webkit-transition: all 0.2s ease; */
/* 	transition: all 0.2s ease; */
}
.radio-style:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-style:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



.search-inputbox {
	display: inline-block; min-width: 304px; 
	height: 44px; border: 1px solid #c2c2c2;
	box-sizing: border-box; border-radius: 5px;
	background-image: url('../img/ico-glasses.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	vertical-align: bottom;
}
.search-inputbox > input {
	display: block; width: 100%;box-sizing: border-box;
	border: 0px;height:100%;line-height:44px;padding-left: 45px;
	background: transparent; font-size: 16px; letter-spacing: -1px;  
	color: #333;    
}
.search-inputbox > input::placeholder {
	color: #a3a3a3;
	font-size: 16px;
}
@media screen and (max-width:999px) {  
	
	
	.point-mng-wrapper {
	    margin-top: 20px;  
	}
	
	.comm-btn-style {
	    font-size: 14px;
	    height: 46px;
	    line-height: 46px;
	    font-weight: bold;
	    padding: 0px 3px;
	}
	
	.search-inputbox {
		display: inline-block;
	    width: 304px;
	    min-width: auto;  
	    max-width: 100%;  
	    height: 40px; 
    	padding: 0px 0px;
	    border: 1px solid #c2c2c2;
	    box-sizing: border-box;
	    border-radius: 5px;
	    background-image: url(../img/ico-glasses.png);
	    background-repeat: no-repeat;
	    background-position: 10px center;
	    background-size: 14px;
	    box-sizing: border-box;
	}
	.search-inputbox > input {
		display: block;
	    width: 100%;
	    box-sizing: border-box;
	    border: 0px;
	    height: 100%;  
	    line-height: 28px;  
	    padding-left: 30px;
	    background: transparent;
	    font-size: 14px;
	    letter-spacing: 0px;
	}
	.search-inputbox > input::placeholder {
		font-size: 14px;
	}
	
	.radio-style:checked,
	.radio-style:not(:checked) {
	    position: absolute; 
	    left: -9999px;
	} 
	.radio-style:checked + label,
	.radio-style:not(:checked) + label
	{
	    position: relative;
	    padding-left: 24px; 
	    cursor: pointer;
	    line-height: 20px;          
	    display: inline-block;
	    color: #333;  
	    font-size: 14px;   
	}  
	.radio-style:checked + label:before,
	.radio-style:not(:checked) + label:before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 18px;
	    height: 18px;  
	    border: 1px solid #f63240; 
	    border-radius: 100%;
	    background: #f63240;
	    box-sizing: border-box;   
	}
	.radio-style:not(:checked) + label:before {
		border: 2px solid #ccc;  
	    background: transparent;
	}
	.radio-style:checked + label:after,
	.radio-style:not(:checked) + label:after {
	    content: '';
	    width: 18px;
	    height: 18px;   
	    background-image: url('../img/ico-radio-check.png');
	    background-repeat: no-repeat;
	    background-position: center center;
	   
	    position: absolute;
	    top: 0px;
	    left: 0px;   
	/* 	border-radius: 100%; */
	/* 	-webkit-transition: all 0.2s ease; */
	/* 	transition: all 0.2s ease; */
	}
	.radio-style:not(:checked) + label:after {
	    opacity: 0;
	    -webkit-transform: scale(0);
	    transform: scale(0);
	}
	.radio-style:checked + label:after {
	    opacity: 1;
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
	
	.profile-modify-group .intro-desc p {
		font-size: 12px;
	}
	
	
}



.default-inputbox {
	display: inline-block; width: 304px; 
	border: 1px solid #c2c2c2;
	box-sizing: border-box; border-radius: 5px;
	vertical-align: bottom;
/* 	height: 44px;  */
	height: 54px;
}
.default-inputbox > input {
	display: block; width: 100%;box-sizing: border-box;
	border: 0px;height:100%;line-height:44px;padding-left: 15px;
	background: transparent; font-size: 18px; letter-spacing: -1px;    
	color: #000;  
}  
.default-inputbox > input[type=password] {
	font-family: sans-serif;
}
.default-inputbox > input::placeholder {
	font-size: 18px;
	color: #a3a3a3; 
}
.default-textarea {
	display: inline-block; width: 100%; 
	height: 44px; border: 1px solid #c2c2c2;
	box-sizing: border-box; border-radius: 5px;
	vertical-align: bottom;
/* 	min-height: 200px; */
}  
.default-textarea > textarea { 
	display: block; width: 100%;
	box-sizing: border-box;
	border: 0px;height:100%; 
	padding: 25px 20px 25px 20px;
	background: transparent; font-size: 18px; letter-spacing: -1px;   
	color: #000; 
}
.default-textarea > textarea::placeholder {
	font-size: 18px;
	color: #343434;
	color: #a3a3a3;
}

.select_box {
	position: relative;
    height: 54px;
    text-align: left;	  
    display: inline-block;
}
.select_box > div {
	font-size: 18px;
    height: 54px;
    padding: 0 12px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    background: url('../img/ico-select-down.png') no-repeat right 15px center;
    line-height: 54px;
    color: #000;
    cursor: pointer;
}
.select_box > div.up { 
	background: url('../img/ico-select-up.png') no-repeat right 15px center;
}
.select_box ul {  
	position: absolute;
    top: 60px;
    left: 0;
    padding: 5px;
    border-radius: 2px;
    background: #fff;
    z-index: 10;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.17);
    border: 1px solid #cecece;
    max-height: 130px;
    overflow-y: auto;
	display: none; 
}
.select_box ul li {
	padding: 6px 10px;
}
.select_box ul li a {
	display: block;
    font-size: 15px;
    color: #483f4f;
    font-weight: 300;
    cursor: pointer; 
}

/******************************************************************* 臾몄쓽�븯湲� �떆�옉 */
.board-write-wrapper {
	
}
.board-write-wrapper .sub-desc {
	font-size: 16px;
	padding: 15px 0px;
	color: #343434; 
}

.board-write-wrapper .title-wrap:after {
	display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: '';
}
.board-write-wrapper .title-wrap .select_box { 
	float: left;
}
.board-write-wrapper .title-wrap .default-inputbox { 
	float: right;
}
.board-write-wrapper .title-wrap .default-inputbox > input {
	font-size: 18px !important; 
}
.board-write-wrapper .note-wrap { 
	margin-top: 20px;
}
.board-write-wrapper .submit-wrap { 
	position: relative;
	min-height: 80px;
}
.board-write-wrapper .submit-wrap .attach-line {
	font-size: 18px;
	padding: 15px 0px 10px 15px; 
}
.board-write-wrapper .submit-wrap .attach-line .file-name {
	display: inline-block;
	background-image: url('../img/ico-attach.png');
	background-position: 0px center;
	background-repeat: no-repeat;
	padding-left: 35px;								
	color: #888; 
	cursor: pointer; 
}
.board-write-wrapper .submit-wrap .attach-line .file-note {
	color: #000;
	display: inline-block;
} 
.board-write-wrapper .submit-wrap .comm-btn-style { 
	position: absolute;
	top: 15px;
	right: 0px;
}

.add-layer2 .board-write-wrapper .submit-wrap .terms-radio {
	padding-top: 15px;padding-left: 25px;
}


.intro-pg-box {
	position: relative;
	padding: 0px 15px;
	min-height: 536px;
	margin-top: 100px;
}
.intro-pg-box .pic-area {
	position: absolute;
	right: 0px;
	top: 0px;
}
.intro-pg-box .contents-box {
	
}
.intro-pg-box .contents-box h2 {
	color: #000; 	
	font-size: 24px;
	line-height: 2.0; 
}
.intro-pg-box .contents-box p { font-size: 17px;  }


.mid-hori-line { height: 1px; background: #efefef; }


.add-header-line {text-align: center;margin-top: 80px;height: 60px;}
.add-header-line .tit {position: relative;font-size: 24px;display: inline-block;color: #000; font-weight: bold;}
.add-header-line .tit .emp {color: #f63c48;}
.add-header-line .bottom-bar {position: absolute;bottom: -10px;left: 0px; right: 0px; margin: auto; height: 3px;width: 135px;background: #000; }



.nable-intro-wrapper {
	padding: 50px 0px 0px 0px;
}
.nable-intro-wrapper .p653 {
	padding-right: 653px;
}
.nable-intro-wrapper .p613 {
	padding-right: 613px;
}
@media screen and (max-width:999px) { 
	
	.nable-intro-wrapper {
		padding: 20px 0px 0px 0px;
	}
	.nable-intro-wrapper .p653 {
		padding-right: 0px;
	}
	.nable-intro-wrapper .p613 {
		padding-right: 0px;
	}
	.nable-intro-wrapper .intro-pg-box .pic-area {
	    position: static;
	    
	}
	.nable-intro-wrapper .mid-hori-line {
		margin: 0px !important;   
	}
	.nable-intro-wrapper .intro-pg-box .pic-area img {
		max-width: 100%; 
	}
	.nable-intro-wrapper .intro-pg-box {
		min-height: auto;
    	margin-top: 30px;
	}
	.intro-pg-box .contents-box h2 {
	    color: #000;
	    font-size: 18px;
	    line-height: 2.0;
	}
	.intro-pg-box .contents-box p {
	    font-size: 15px;
	    padding-bottom: 30px;
	}
	
	
	.terms-txt-group .big {
	    font-size: 20px;
	    margin-top: 15px;
	    color: #000;
	}
	.terms-txt-group .txt-group-row h3 {
	    font-size: 16px;
	    margin-bottom: 5px;
	    color: #000;
	}
	.terms-txt-group .txt-group-row p, .terms-txt-group .txt-group-row .desc {
	    font-size: 12px;
	}
}

